{% extends "app/layout.html" %}

{% block content %}

<div class=" container-fluid jumbotron">
    <div class="row">
        <h1>3D Printing Services Halifax!</h1>
        <p>Great for prototyping, custom gift ideas, replacement parts, cosplay, miniatures and more. I currently have two FDM Machines, both can print 220x220x250mm.</p>
        <p>All pick up items can be picked up within Halifax, large orders can be delivered within Halifax, and items can be shipped at cost with any courier local to Halifax.
        <br />See more on the <a href="{% url 'about' %}">about page!</a></p>
        
        
    </div>



</div>

<div class=" container-fluid" style="padding-top:30px;background-color:#ffffff;margin-bottom:30px;border-radius:6px; ">
    <div class="row">
        <div class="col-md-4 " stlye="padding-left:20px;">
            <h2>Free Estimates Available!</h2>
            <form action="estimate/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control" id="firstName"  placeholder="First Name" aria-label="First Name" type="text" name="firstName" value="" style="width:100%;"><br />
                <input class="form-control" id="email"  placeholder="Email Address" aria-label="Email Address" type="text" name="email" value="" style="width:100%;"><br />
                <textarea class="form-control" id="description"  placeholder="Description" aria-label="Description" rows="6" type="text" name="description" value="" style="width:100%;"></textarea><br />
                <small>Include optional links and or attach files</small><br />

                <input class="custom-file" type="file" name="file" style="width:auto;"><br />
                <button class="btn btn-default" type="submit" style="float:right;">Get Estimate!</button>
            </form>
        </div>
        <div class="col-md-4">
            {% load static %}
            <img src="{% static 'images/IMG_5199.jpg'  %}" class="img-fluid rounded" style="padding-top:15px;" />
        </div>
        <div class="col-md-4">
            <h2>Where to find files/ideas</h2>
            <p>There are many resources out there to find a file or idea to print, we do some minor design work at a cost of $25 per hour, 
            though it is easiest and quickest to file a file online (most are free), these are presented in the order I use them personally.</p>
            <table class="table container">
                <tr><td><a href="https://www.thingiverse.com/">Thingiverse</a></td><td>Free</td></tr>
                <tr><td><a href="https://www.yeggi.com/">Yeggi</a></td><td>Mixed*</td></tr>
                <tr><td><a href="https://pinshape.com/">Pinshape</a></td><td>Mixed*</td></tr>
                <tr><td><a href="https://cults3d.com/en">Cults 3D</a></td><td>Mixed*</td></tr>
                <tr><td><a href="https://pinshape.com/">Pinshape</a></td><td>Mixed*</td></tr>
                <tr><td><a href="https://www.turbosquid.com/Search/3D-Models/printing">Turbo Squid</a></td><td>Mixed*</td></tr>
                <tr><td><a href="https://grabcad.com/library/category/3d-printing">GrabCAD</a></td><td>Free</td></tr>
            </table>
            <small>*Mixed: Some items are free others can be paid for</small>
        </div>
    </div>
</div>



{% endblock %}
