{% extends "app/layout.html" %}

{% block content %}




<div id="orders" >
    
    <div class="container jumbotron" style="font-size:initial !important;">
        <h2>{{ title }}</h2>
        <h3>Place a new order:</h3>
        <form  action="neworder/" method="post">
            {% csrf_token %}
            <input class="form-control" id="New_Order" type="text" name="newOrder" placeholder="Order Name" aria-label="Order Name" value=""><br />
            <input class="form-control" id="description" type="text" placeholder="Order Description" aria-label="Order Description" name="description" value=""><br />
            <input class="form-control" id="link" type="text" placeholder="Provide Link(s) optional" aria-label="Provide Link(s) optional" name="link" value=""><br />
            <label class="control-label" >You will be contacted via email automatically with details to fulfill your order.</label><br /><br />
            <input class="btn btn-default" type="submit" value="Submit"><br />
        </form>
    </div>
    <div class="container jumbotron table-responsive" id="orders" style="font-size:initial !important;">
        <h3>Your Orders:</h3>

        <table id="orders" class="tg table .table-hover">
          <tr>
            <th class="tg-qive th">ID</th>        
            <th class="tg-qive th">Status</th>
            <th class="tg-qive th">Name</th>
            <th class="tg-qive th">Description</th>
            <th class="tg-qive th">Owned By</th>
            <th class="tg-qive th">Date Received</th>
            <th class="tg-qive th">Date Completed</th>
            <!--<th class="tg-qive th">Date Picked up</th>-->
            <th class="tg-qive th">Cost Estimate</th>
            <th class="tg-qive th">Amount Charged</th>
            <th class="tg-qive th">Link(s)</th>
            <th class="tg-qive th">File(s)</th>
          </tr>
          {% for order in orders %}
          <tr>
            <td class="tg-0lax tr">{{ order.ID }}</td>
            <td class="tg-0lax tr">{{ order.ORDER_STATUS }}</td>
            <td class="tg-0lax tr">{{ order.ORDER_NAME }}</td>
            <td class="tg-0lax tr">{{ order.DESCRIPTION }}</td>
           <td class="tg-0lax tr">{{ order.ORDER_USER }}</td>
            <td class="tg-0lax tr">{{ order.ORDER_DATE }}</td>
            <td class="tg-0lax tr">{{ order.ORDER_DATE_COMPLETED }}</td>
            <!--<td class="tg-0lax tr">{{ order.ORDER_DATE_DELIVERED }}</td>-->
            <td class="tg-0lax tr">{{ order.COST_ESTIMATED }}</td>
            <td class="tg-0lax tr">{{ order.COST_CHARGED }}</td>
            <td class="tg-0lax tr">{{ order.LINK }}</td>
            <td class="tg-0lax tr">None Attached</td>
          </tr>
          {% endfor %}
        </table>

    </div>
</div>


{% endblock %}
